.App {
  text-align: center;
}

/* Menu CSS */
.menu-background {
  display: flex;
  background: #3e3e3e;
  width: 100%;
  height: 60px;
  color: white;
  padding-left: 40px;
  text-align: center;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  position: relative;
}

.menu-line {
  margin-left: 50px;
}

.menu-polygon {
  position: absolute;
  bottom: -15px;
  left: calc(50% + 25px);
  transform: translateX(-50%);
}

.menu a {
  text-decoration: none;
  color: white;
  margin-left: 50px;
  font-family: "NanumSquareRound";
  font-size: 32px;
}

.logo {
  padding-top: 10px;
}

.gray-text {
  color: gray !important;
}
